:root {
    --fb-blue: hsl(208, 92%, 53%);
    --tw-blue: hsl(203, 89%, 53%);
    --ig-gradient: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --yt-red: hsl(348, 97%, 39%);
    --positive-green: hsl(163, 72%, 41%);
    --negative-red: hsl(356, 69%, 56%);

    /*  THEME COLORS  */
    /*  LIGHT THEME  */
    --lt-toggle: hsl(230, 22%, 74%);
    --lt-body-bg: hsl(0, 0%, 100%);
    --lt-top-bg: hsl(225, 100%, 98%);
    --lt-card-bg: hsl(227, 47%, 96%);
    --lt-text1: hsl(228, 12%, 44%);
    --lt-text2: hsl(230, 17%, 14%);

    /*  DARK THEME  */
    --dk-toggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --dk-body-bg: hsl(230, 17%, 14%);
    --dk-top-bg: hsl(232, 19%, 15%);
    --dk-card-bg: hsl(228, 28%, 20%);
    --dk-text1: hsl(228, 34%, 66%);
    --dk-text2: hsl(0, 0%, 100%);

    /*  FONT WEIGHTS  */
    --ft-regular: 400;
    --ft-bold: 700;
}

*, *::before, *::after {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.dashboard {
    margin: auto;
    position: relative;
    z-index: 3;
}

.dashboard__followers__card {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.dashboard__followers__card, .dashboard__overview__content__card {
    /* border: 1px solid red; */
    border-radius: 5px;
    overflow: hidden;
}

.dashboard__followers__card__inner {
    height: 100%;
    width: 100%;
    background-color: white;
}

.fb, .tw, .ig, .yt {
    padding-top: 4px;
}

.fb {
    /* border-top: 4px solid var(--fb-blue); */
    background-color: var(--fb-blue);
}

.tw {
    /* border-top: 4px solid var(--tw-blue); */
    background-color: var(--tw-blue);
}

.ig {
    /* background: var(--ig-gradient);
    padding-top: 4px; */
    background: var(--ig-gradient);
}

.yt {
    /* border-top: 4px solid var(--yt-red); */

    background-color: var(--yt-red);
}

.dashboard__followers__card__follower-count span {
    font-size: 40px;
}

.dashboard__followers, .dashboard__overview__content {
    display: grid;
}

.dashboard__followers__card__handle, 
.dashboard__followers__card__follower-count span, 
.dashboard__overview__content__card__interaction-type, 
.dashboard__overview__content__card__interaction-count,
.dashboard__followers__card__follower-change {
    font-weight: var(--ft-bold);
}

.dashboard__overview__content__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 12px;

    border: 1px solid red;
}

.dashboard__overview__content__card__interaction-count {
    font-size: 24px;
}

.dashboard__overview__content__card__social-media-icon, .dashboard__overview__content__card__interaction-count-change {
    text-align: right;
}

.negative {
    color: var(--negative-red);
}

.positive {
    color: var(--positive-green);
}


/* .grid--followers, .grid--overview {
    display: grid;
} */

.lt-theme {
    /* background-color: aquamarine; */
    background-color: var(--lt-body-bg);
}

.dk-theme {
    background-color: seagreen;
}

.wrapper {
    position: relative;
    z-index: 1;
}

.wrapper-bg-top {
    position: absolute;
    z-index: 2;
    border-radius: 0 0 15px 15px;
    width: 100%;
    height: 50px;
    background-color: brown;
}

.lt-bg {
    background-color: var(--lt-body-bg);
}

.lt-bg-top {
    background-color: var(--lt-top-bg);
}

.dk-bg {
    background-color: var(--dk-body-bg);
}

.dk-bg-top {
    background-color: var(--dk-top-bg);
}

.lt-heading, .lt-count, .lt-ic {
    color: black;
}

.dk-heading, .dk-count, .dk-overview, .dk-ic {
    color: var(--dk-text2);
}

.lt-tf, .lt-fc, .lt-handle, .lt-overview, .lt-it {
    color: var(--lt-text1);
}

.dk-tf, .dk-fc, .dk-handle, .dk-it {
    color: var(--dk-text1);
}

.lt-button {
    color: var(--lt-toggle);
}

.dk-button {
    color: var(--dk-toggle);
}

.lt-inner, .lt-cc {
    background-color: var(--lt-card-bg);
}

.dk-inner, .dk-cc {
    background-color: var(--dk-card-bg);
}

/* .lt-fc {
    color: var(--lt-text1);
} */

/* .dk-fc {
    color: var(--dk-text1);
} */

/* .lt-count {
    color: black;
} */

/* .dk-count {
    color: var(--dk-text2);
} */



@media screen and (min-width: 375px) {
    .dashboard {
        width: 90%;
    }

    .dashboard__followers__card {
        justify-content: center;
        align-items: center;
    }
    
    .dashboard__followers {
        grid-template-rows: repeat(4, 10rem);
        row-gap: 24px;
    }

    .dashboard__overview__content {
        grid-template-rows: repeat(8, 6rem);
        row-gap: 14px;
    }

    /* .grid--followers {
        grid-template-rows: repeat(4, 1fr);
        row-gap: 24px;
    }

    .grid--overview {
        grid-template-rows: repeat(8, 1fr);
        row-gap: 14px;
    } */
}